/* CSS variables for variables / design tokens */
:root {
    --safe-top: 0px;
    --safe-bottom: 0px;
    --safe-left: 0px;
    --safe-right: 0px;
}

/* Inicializador de estilos globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html,
body {
    background-color: #61d1f3;
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100dvh;
    width: 100vw;

    /* Proteção contra notches de câmera e barra de navegação na tela cheia */
    padding-top: env(safe-area-inset-top, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
    padding-left: env(safe-area-inset-left, 0px);
    padding-right: env(safe-area-inset-right, 0px);
}