/* CSS variables for variables / design tokens */
:root {
    /* Safe Areas (Default to 0px for Android and Desktop to prevent double status bar gaps) */
    --safe-top: 0px;
    --safe-bottom: 0px;
    --safe-left: 0px;
    --safe-right: 0px;
}

/* Inicializador de estilos globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}






body {
    font-family: 'Inter', sans-serif;
    background-color: #61f392;
    min-height: 100dvh;
    width: 100vw;

    /* Proteção contra notches de câmera e barra de navegação na tela cheia */
    padding-top: var(--safe-top);
    padding-bottom: var(--safe-bottom);
    padding-left: var(--safe-left);
    padding-right: var(--safe-right);
}